In [1]:
import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

In [3]:
Complaints = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9')

In [4]:
#read columns to determine the data we need and what we can drop
Complaints.columns

Index([u'Unique Key', u'Created Date', u'Closed Date', u'Agency',
       u'Agency Name', u'Complaint Type', u'Descriptor', u'Location Type',
       u'Incident Zip', u'Incident Address', u'Street Name', u'Cross Street 1',
       u'Cross Street 2', u'Intersection Street 1', u'Intersection Street 2',
       u'Address Type', u'City', u'Landmark', u'Facility Type', u'Status',
       u'Due Date', u'Resolution Description',
       u'Resolution Action Updated Date', u'Community Board', u'Borough',
       u'X Coordinate (State Plane)', u'Y Coordinate (State Plane)',
       u'Park Facility Name', u'Park Borough', u'School Name',
       u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'],
      dtype='object')

In [5]:
#drop columns we do not need
Complaints.drop([u'Created Date', u'Closed Date', u'Agency',
       u'Agency Name', u'Location Type', u'Incident Zip', u'Incident Address', u'Street Name', u'Cross Street 1',
       u'Cross Street 2', u'Intersection Street 1', u'Intersection Street 2',
       u'Address Type', u'City', u'Landmark', u'Facility Type', u'Status',
       u'Due Date', u'Resolution Description',
       u'Resolution Action Updated Date',u'X Coordinate (State Plane)', u'Y Coordinate (State Plane)',
       u'Park Facility Name', u'Park Borough', u'School Name',
       u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'], axis=1, inplace=True)

In [6]:
Complaints.head()

,Unique Key,Complaint Type,Descriptor,Community Board,Borough
0,31911011,Street Condition,Pothole,13 BROOKLYN,BROOKLYN
1,31908754,Opinion for the Mayor,HOUSING,0 Unspecified,Unspecified
2,31910423,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,18 BROOKLYN,BROOKLYN
3,31909924,Illegal Parking,Blocked Hydrant,12 BROOKLYN,BROOKLYN
4,31913310,Benefit Card Replacement,Medicaid,0 Unspecified,Unspecified

In [7]:
#we have 77 unique values, should be only 59 to represent all community boards 
len(Complaints['Community Board'].unique())

77

In [8]:
#there are 'unspecified' entries as well as entires for community boards that do not exist - 
#due possibly to a data entry error
Complaints['Community Board'].unique()

array(['13 BROOKLYN', '0 Unspecified', '18 BROOKLYN', '12 BROOKLYN',
       '02 STATEN ISLAND', '08 MANHATTAN', '06 BROOKLYN', '10 BRONX',
       '06 MANHATTAN', '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN',
       '14 BROOKLYN', '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS',
       '07 QUEENS', '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN',
       '09 QUEENS', '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN',
       '03 BRONX', '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN',
       '07 MANHATTAN', '10 MANHATTAN', '04 BRONX', '01 MANHATTAN',
       '07 BRONX', '09 BRONX', '03 MANHATTAN', '13 QUEENS', '02 BRONX',
       '12 QUEENS', '16 BROOKLYN', '08 QUEENS', '04 MANHATTAN',
       '14 QUEENS', '10 BROOKLYN', '11 QUEENS', '06 BRONX', '08 BRONX',
       '05 BRONX', '15 BROOKLYN', '02 BROOKLYN', '12 BRONX', '03 QUEENS',
       '06 QUEENS', '01 STATEN ISLAND', '01 BRONX', '01 QUEENS',
       '17 BROOKLYN', '11 BRONX', 'Unspecified QUEENS', '09 BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified BROOKLYN', '07 BROOKLYN',
       'Unspecified BRONX', '64 MANHATTAN', '81 QUEENS', '55 BROOKLYN',
       '83 QUEENS', 'Unspecified STATEN ISLAND', '28 BRONX', '80 QUEENS',
       '26 BRONX', '95 STATEN ISLAND', '82 QUEENS', '27 BRONX',
       '56 BROOKLYN', '84 QUEENS'], dtype=object)

In [9]:
#there is also one unspecified value within the borough field
print (Complaints['Borough'].unique())
print (len(Complaints['Borough'].unique()))

['BROOKLYN' 'Unspecified' 'STATEN ISLAND' 'MANHATTAN' 'BRONX' 'QUEENS']
6

In [10]:
#drop duplicate values
print (len(Complaints))
dropuniquedupes = Complaints.drop_duplicates(['Unique Key'])

10187766

In [11]:
len(dropuniquedupes)

10187744

##### Removed duplicate entries for the 'Unique Key' which represented a number assigned to each call complaint. This removed only 22 entries that could have been data entry error in adding the same complaint information more than once or assigning a previously used unique key identifier for a new call. Removing duplicates from other columns would have certainly removed important data

In [12]:
#look for and sum NaN values
pd.isnull(dropuniquedupes).sum()

Unique Key             0
Complaint Type         0
Descriptor         31057
Community Board        0
Borough                0
dtype: int64

##### The missing values that appear are for the descriptor and incident zip fields. This could be a result of not obtaining all of the information from a 311 caller or perhaps calls being ended before the representative can collect all of the information

##### I would not recommend using the complaint type field to fill in missing values for the descriptor field because there could be many different types of even/call descriptions under each complaint type. This would skew the results to indicate more types of calls or call descriptions than we can confidently say

In [13]:
#remove the unique key now that we have dropped dupelicate values
redact_311 = dropuniquedupes.drop(['Unique Key'], axis = 1)
redact_311.head()

,Complaint Type,Descriptor,Community Board,Borough
0,Street Condition,Pothole,13 BROOKLYN,BROOKLYN
1,Opinion for the Mayor,HOUSING,0 Unspecified,Unspecified
2,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,18 BROOKLYN,BROOKLYN
3,Illegal Parking,Blocked Hydrant,12 BROOKLYN,BROOKLYN
4,Benefit Card Replacement,Medicaid,0 Unspecified,Unspecified

In [15]:
#community districts do not exceed the number 18, those with a higher number, along with those marked as unspecified
#would be implausible. Removing the unspecified values that appeared within the community board and borough fields

redact_311 = redact_311[redact_311['Community Board'].str.contains('Unspecified') == False]
redact_311 = redact_311[redact_311['Borough'].str.contains('Unspecified') == False]



print(len(redact_311['Community Board'].unique()))
print(len(redact_311['Borough'].unique()))

71
5

In [16]:
# Deleting Invalid Data - Non-Real Community Boards
redact_311['Check'] = 'NaN'
grouby_311 = redact_311.groupby(['Community Board'], as_index = False).count()
grouby_311

     Community Board  Complaint Type  Descriptor  Borough   Check
0           01 BRONX           74631       74312    74631   74631
1        01 BROOKLYN          185057      184119   185057  185057
2       01 MANHATTAN           77974       77099    77974   77974
3          01 QUEENS          171484      170936   171484  171484
4   01 STATEN ISLAND          182708      182173   182708  182708
5           02 BRONX           60257       60183    60257   60257
6        02 BROOKLYN          121021      120225   121021  121021
7       02 MANHATTAN          133860      132007   133860  133860
8          02 QUEENS          114333      113945   114333  114333
9   02 STATEN ISLAND          121132      120875   121132  121132
10          03 BRONX           75134       74961    75134   75134
11       03 BROOKLYN          197305      196724   197305  197305
12      03 MANHATTAN          150296      148807   150296  150296
13         03 QUEENS          122009      121716   122009  122009
14  03 STATEN ISLAND          136487      136222   136487  136487
15          04 BRONX          181953      181674   181953  181953
16       04 BROOKLYN          139702      139304   139702  139702
17      04 MANHATTAN          132659      131008   132659  132659
18         04 QUEENS           99316       98940    99316   99316
19          05 BRONX          161078      160890   161078  161078
20       05 BROOKLYN          189765      189389   189765  189765
21      05 MANHATTAN          142028      140071   142028  142028
22         05 QUEENS          168570      168182   168570  168570
23          06 BRONX           99547       99358    99547   99547
24       06 BROOKLYN          114029      113675   114029  114029
25      06 MANHATTAN          104249      103163   104249  104249
26         06 QUEENS           90938       90622    90938   90938
27          07 BRONX          185729      185415   185729  185729
28       07 BROOKLYN          107031      106727   107031  107031
29      07 MANHATTAN          151419      150052   151419  151419
..               ...             ...         ...      ...     ...
41      10 MANHATTAN          137344      136522   137344  137344
42         10 QUEENS          128116      127826   128116  128116
43          11 BRONX          122079      121803   122079  122079
44       11 BROOKLYN          139890      139583   139890  139890
45      11 MANHATTAN           95413       94614    95413   95413
46         11 QUEENS          101908      101756   101908  101908
47          12 BRONX          168455      168121   168455  168455
48       12 BROOKLYN          150320      149920   150320  150320
49      12 MANHATTAN          268053      267447   268053  268053
50         12 QUEENS          229383      228767   229383  229383
51       13 BROOKLYN           72362       72001    72362   72362
52         13 QUEENS          163851      163528   163851  163851
53       14 BROOKLYN          187792      187396   187792  187792
54         14 QUEENS          103396      103166   103396  103396
55       15 BROOKLYN          146129      145717   146129  146129
56       16 BROOKLYN           85466       85278    85466   85466
57       17 BROOKLYN          191720      191449   191720  191720
58       18 BROOKLYN          156100      155801   156100  156100
59          26 BRONX             397         395      397     397
60          27 BRONX             469         467      469     469
61          28 BRONX             433         432      433     433
62       55 BROOKLYN             767         728      767     767
63       56 BROOKLYN             834         833      834     834
64      64 MANHATTAN             904         837      904     904
65         80 QUEENS            2363        2362     2363    2363
66         81 QUEENS            1420        1415     1420    1420
67         82 QUEENS             725         723      725     725
68         83 QUEENS            3072        3066     3072    3072
69         84 QUEENS             274         273      274     274
70  95 STATEN ISLAND             531         525      531     531

[71 rows x 5 columns]

In [17]:
# Loop through rows, splitting Community Board values and converting the first value of the split to an interger,
# if higher than 18 (max # of community boards in any given borough), mark for deletion.
for x in range(0, len(grouby_311)):
        if int(grouby_311['Community Board'][x].split(' ')[0]) < 19:
            grouby_311['Check'][x] = 'Keep'
        else:
            grouby_311['Check'][x] = 'Delete'
            
grouby_311

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     Community Board  Complaint Type  Descriptor  Borough   Check
0           01 BRONX           74631       74312    74631    Keep
1        01 BROOKLYN          185057      184119   185057    Keep
2       01 MANHATTAN           77974       77099    77974    Keep
3          01 QUEENS          171484      170936   171484    Keep
4   01 STATEN ISLAND          182708      182173   182708    Keep
5           02 BRONX           60257       60183    60257    Keep
6        02 BROOKLYN          121021      120225   121021    Keep
7       02 MANHATTAN          133860      132007   133860    Keep
8          02 QUEENS          114333      113945   114333    Keep
9   02 STATEN ISLAND          121132      120875   121132    Keep
10          03 BRONX           75134       74961    75134    Keep
11       03 BROOKLYN          197305      196724   197305    Keep
12      03 MANHATTAN          150296      148807   150296    Keep
13         03 QUEENS          122009      121716   122009    Keep
14  03 STATEN ISLAND          136487      136222   136487    Keep
15          04 BRONX          181953      181674   181953    Keep
16       04 BROOKLYN          139702      139304   139702    Keep
17      04 MANHATTAN          132659      131008   132659    Keep
18         04 QUEENS           99316       98940    99316    Keep
19          05 BRONX          161078      160890   161078    Keep
20       05 BROOKLYN          189765      189389   189765    Keep
21      05 MANHATTAN          142028      140071   142028    Keep
22         05 QUEENS          168570      168182   168570    Keep
23          06 BRONX           99547       99358    99547    Keep
24       06 BROOKLYN          114029      113675   114029    Keep
25      06 MANHATTAN          104249      103163   104249    Keep
26         06 QUEENS           90938       90622    90938    Keep
27          07 BRONX          185729      185415   185729    Keep
28       07 BROOKLYN          107031      106727   107031    Keep
29      07 MANHATTAN          151419      150052   151419    Keep
..               ...             ...         ...      ...     ...
41      10 MANHATTAN          137344      136522   137344    Keep
42         10 QUEENS          128116      127826   128116    Keep
43          11 BRONX          122079      121803   122079    Keep
44       11 BROOKLYN          139890      139583   139890    Keep
45      11 MANHATTAN           95413       94614    95413    Keep
46         11 QUEENS          101908      101756   101908    Keep
47          12 BRONX          168455      168121   168455    Keep
48       12 BROOKLYN          150320      149920   150320    Keep
49      12 MANHATTAN          268053      267447   268053    Keep
50         12 QUEENS          229383      228767   229383    Keep
51       13 BROOKLYN           72362       72001    72362    Keep
52         13 QUEENS          163851      163528   163851    Keep
53       14 BROOKLYN          187792      187396   187792    Keep
54         14 QUEENS          103396      103166   103396    Keep
55       15 BROOKLYN          146129      145717   146129    Keep
56       16 BROOKLYN           85466       85278    85466    Keep
57       17 BROOKLYN          191720      191449   191720    Keep
58       18 BROOKLYN          156100      155801   156100    Keep
59          26 BRONX             397         395      397  Delete
60          27 BRONX             469         467      469  Delete
61          28 BRONX             433         432      433  Delete
62       55 BROOKLYN             767         728      767  Delete
63       56 BROOKLYN             834         833      834  Delete
64      64 MANHATTAN             904         837      904  Delete
65         80 QUEENS            2363        2362     2363  Delete
66         81 QUEENS            1420        1415     1420  Delete
67         82 QUEENS             725         723      725  Delete
68         83 QUEENS            3072        3066     3072  Delete
69         84 QUEENS             274         273      274  Delete
70  95 STATEN ISLAND             531         525      531  Delete

[71 rows x 5 columns]

In [18]:
# Remove those rows indicated as 'Delete' within Check column
final_311 = grouby_311[grouby_311['Check'].str.contains('Delete') == False]

#Remove columns we no longer need
final_311 = final_311.drop(['Descriptor', 'Borough', 'Check'], axis = 1)

final_311

     Community Board  Complaint Type
0           01 BRONX           74631
1        01 BROOKLYN          185057
2       01 MANHATTAN           77974
3          01 QUEENS          171484
4   01 STATEN ISLAND          182708
5           02 BRONX           60257
6        02 BROOKLYN          121021
7       02 MANHATTAN          133860
8          02 QUEENS          114333
9   02 STATEN ISLAND          121132
10          03 BRONX           75134
11       03 BROOKLYN          197305
12      03 MANHATTAN          150296
13         03 QUEENS          122009
14  03 STATEN ISLAND          136487
15          04 BRONX          181953
16       04 BROOKLYN          139702
17      04 MANHATTAN          132659
18         04 QUEENS           99316
19          05 BRONX          161078
20       05 BROOKLYN          189765
21      05 MANHATTAN          142028
22         05 QUEENS          168570
23          06 BRONX           99547
24       06 BROOKLYN          114029
25      06 MANHATTAN          104249
26         06 QUEENS           90938
27          07 BRONX          185729
28       07 BROOKLYN          107031
29      07 MANHATTAN          151419
30         07 QUEENS          195961
31          08 BRONX           92733
32       08 BROOKLYN          141118
33      08 MANHATTAN          149076
34         08 QUEENS          123131
35          09 BRONX          147457
36       09 BROOKLYN          135830
37      09 MANHATTAN          127564
38         09 QUEENS          151242
39          10 BRONX           95496
40       10 BROOKLYN          111837
41      10 MANHATTAN          137344
42         10 QUEENS          128116
43          11 BRONX          122079
44       11 BROOKLYN          139890
45      11 MANHATTAN           95413
46         11 QUEENS          101908
47          12 BRONX          168455
48       12 BROOKLYN          150320
49      12 MANHATTAN          268053
50         12 QUEENS          229383
51       13 BROOKLYN           72362
52         13 QUEENS          163851
53       14 BROOKLYN          187792
54         14 QUEENS          103396
55       15 BROOKLYN          146129
56       16 BROOKLYN           85466
57       17 BROOKLYN          191720
58       18 BROOKLYN          156100

In [19]:
# Rank Complaint Count
final_311['Complaint Rank'] = final_311['Complaint Type'].rank(ascending = False)
final_311

     Community Board  Complaint Type  Complaint Rank
0           01 BRONX           74631            57.0
1        01 BROOKLYN          185057             9.0
2       01 MANHATTAN           77974            55.0
3          01 QUEENS          171484            12.0
4   01 STATEN ISLAND          182708            10.0
5           02 BRONX           60257            59.0
6        02 BROOKLYN          121021            40.0
7       02 MANHATTAN          133860            32.0
8          02 QUEENS          114333            41.0
9   02 STATEN ISLAND          121132            39.0
10          03 BRONX           75134            56.0
11       03 BROOKLYN          197305             3.0
12      03 MANHATTAN          150296            21.0
13         03 QUEENS          122009            38.0
14  03 STATEN ISLAND          136487            30.0
15          04 BRONX          181953            11.0
16       04 BROOKLYN          139702            28.0
17      04 MANHATTAN          132659            33.0
18         04 QUEENS           99316            49.0
19          05 BRONX          161078            16.0
20       05 BROOKLYN          189765             6.0
21      05 MANHATTAN          142028            25.0
22         05 QUEENS          168570            13.0
23          06 BRONX           99547            48.0
24       06 BROOKLYN          114029            42.0
25      06 MANHATTAN          104249            45.0
26         06 QUEENS           90938            53.0
27          07 BRONX          185729             8.0
28       07 BROOKLYN          107031            44.0
29      07 MANHATTAN          151419            18.0
30         07 QUEENS          195961             4.0
31          08 BRONX           92733            52.0
32       08 BROOKLYN          141118            26.0
33      08 MANHATTAN          149076            22.0
34         08 QUEENS          123131            36.0
35          09 BRONX          147457            23.0
36       09 BROOKLYN          135830            31.0
37      09 MANHATTAN          127564            35.0
38         09 QUEENS          151242            19.0
39          10 BRONX           95496            50.0
40       10 BROOKLYN          111837            43.0
41      10 MANHATTAN          137344            29.0
42         10 QUEENS          128116            34.0
43          11 BRONX          122079            37.0
44       11 BROOKLYN          139890            27.0
45      11 MANHATTAN           95413            51.0
46         11 QUEENS          101908            47.0
47          12 BRONX          168455            14.0
48       12 BROOKLYN          150320            20.0
49      12 MANHATTAN          268053             1.0
50         12 QUEENS          229383             2.0
51       13 BROOKLYN           72362            58.0
52         13 QUEENS          163851            15.0
53       14 BROOKLYN          187792             7.0
54         14 QUEENS          103396            46.0
55       15 BROOKLYN          146129            24.0
56       16 BROOKLYN           85466            54.0
57       17 BROOKLYN          191720             5.0
58       18 BROOKLYN          156100            17.0

In [47]:
#open demographics .csv file as a variable called finaldemos
finaldemos = pd.read_csv(PUIdata + "/Final_Demographics.csv")

In [48]:
#determine column names, cd_id would stand for community district 
finaldemos.columns

Index([u'FIPS', u'cd_id', u'Total Population',
       u'Population Density (per sq. mile)', u'% Total Population: Male',
       u'% Total Population: 18 to 24 Years',
       u'% Total Population: 25 to 34 Years',
       u'% Total Population: 35 to 44 Years',
       u'% Population 5 Years And Over: Speak Only English',
       u'% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       u'% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       u'% Employed Civilian Population 16 Years And Over: Service occupations',
       u'% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       u'% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       u'% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [49]:
#determine the community districts that are listed in this column, there are 59
print(finaldemos['cd_id'].unique())
print (len(finaldemos['cd_id'].unique()))

['BX08' 'BX12' 'BX10' 'BX11' 'BX03' 'BX06' 'BX07' 'BX05' 'BX04' 'BX09'
 'BX01' 'BX02' 'MN12' 'MN09' 'MN10' 'MN11111' 'MN08' 'MN07' 'MN05' 'MN04'
 'MN06' 'MN03' 'MN01' 'MN02' 'SI03' 'SI02' 'SI01' 'BK01' 'BK04' 'BK03'
 'BK02' 'BK06' 'BK08' 'BK16' 'BK05' 'BK18' 'BK17' 'BK09' 'BK07' 'BK10'
 'BK12' 'BK14' 'BK15' 'BK11' 'BK13' 'QN01' 'QN03' 'QN07' 'QN11' 'QN13'
 'QN08' 'QN04' 'QN06' 'QN02' 'QN05' 'QN09' 'QN12' 'QN10' 'QN14']
59

In [62]:
#looking at variables to help determine who might be more likely to complain
demographcallers = finaldemos[['cd_id', "% Population 5 Years And Over: Speak Only English",
                               "% Population 5 Years And Over: Spanish or Spanish Creole" ]]
demographcallers.head()

,cd_id,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole
0,BX08,46.80,39.24
1,BX12,73.09,18.19
2,BX10,61.79,26.43
3,BX11,43.22,36.45
4,BX03,36.82,54.24

##### Community Districts where a higher percentage of people speak English may be more likely to have people call 311

In [55]:
#open infrastructure by community board data as a variable called Infrastruct
Infrastruct = pd.read_csv(PUIdata + "/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [56]:
#determining column names, not sure if it is geographic identifier or qualifying name, will inspect by .head function
Infrastruct.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [57]:
#quailfying name represents community district
Infrastruct.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [58]:
#determine the community districts that are listed in this column, there are 55
print(Infrastruct['Qualifying Name'].unique())
print (len(Infrastruct['Qualifying Name'].unique()))

['NYC-Bronx Community District 8--Riverdale, New York'
 'NYC-Bronx Community District 12--Wakefield, New York'
 'NYC-Bronx Community District 10--Co-op City, New York'
 'NYC-Bronx Community District 11--Pelham Parkway, New York'
 'NYC-Bronx Community District 3 & 6--Belmont, New York'
 'NYC-Bronx Community District 7--Bedford Park, New York'
 'NYC-Bronx Community District 5--Morris Heights, New York'
 'NYC-Bronx Community District 4--Concourse, New York'
 'NYC-Bronx Community District 9--Castle Hill, New York'
 'NYC-Bronx Community District 1 & 2--Hunts Point, New York'
 'NYC-Manhattan Community District 12--Washington Heights, New York'
 'NYC-Manhattan Community District 9--Hamilton Heights, New York'
 'NYC-Manhattan Community District 10--Central Harlem PUMA, New York'
 'NYC-Manhattan Community District 11--East Harlem PUMA, New York'
 'NYC-Manhattan Community District 8--Upper East Side PUMA, New York'
 'NYC-Manhattan Community District 7--Upper West Side & West Side PUMA, New York'
 'NYC-Manhattan Community District 4 & 5--Chelsea, New York'
 'NYC-Manhattan Community District 6--Murray Hill, New York'
 'NYC-Manhattan Community District 3--Chinatown & Lower East Side PUMA, New York'
 'NYC-Manhattan Community District 1 & 2--Battery Park City, New York'
 'NYC-Staten Island Community District 3--Tottenville, New York'
 'NYC-Staten Island Community District 2--New Springville & South Beach PUMA, New York'
 'NYC-Staten Island Community District 1--Port Richmond, New York'
 'NYC-Brooklyn Community District 1--Greenpoint & Williamsburg PUMA, New York'
 'NYC-Brooklyn Community District 4--Bushwick PUMA, New York'
 'NYC-Brooklyn Community District 3--Bedford-Stuyvesant PUMA, New York'
 'NYC-Brooklyn Community District 2--Brooklyn Heights & Fort Greene PUMA, New York'
 'NYC-Brooklyn Community District 6--Park Slope, New York'
 'NYC-Brooklyn Community District 8--Crown Heights North & Prospect Heights PUMA, New York'
 'NYC-Brooklyn Community District 16--Brownsville & Ocean Hill PUMA, New York'
 'NYC-Brooklyn Community District 5--East New York & Starrett City PUMA, New York'
 'NYC-Brooklyn Community District 18--Canarsie & Flatlands PUMA, New York'
 'NYC-Brooklyn Community District 17--East Flatbush, New York'
 'NYC-Brooklyn Community District 9--Crown Heights South, New York'
 'NYC-Brooklyn Community District 7--Sunset Park & Windsor Terrace PUMA, New York'
 'NYC-Brooklyn Community District 10--Bay Ridge & Dyker Heights PUMA, New York'
 'NYC-Brooklyn Community District 12--Borough Park, New York'
 'NYC-Brooklyn Community District 14--Flatbush & Midwood PUMA, New York'
 'NYC-Brooklyn Community District 15--Sheepshead Bay, New York'
 'NYC-Brooklyn Community District 11--Bensonhurst & Bath Beach PUMA, New York'
 'NYC-Brooklyn Community District 13--Brighton Beach & Coney Island PUMA, New York'
 'NYC-Queens Community District 1--Astoria & Long Island City PUMA, New York'
 'NYC-Queens Community District 3--Jackson Heights & North Corona PUMA, New York'
 'NYC-Queens Community District 7--Flushing, New York'
 'NYC-Queens Community District 11--Bayside, New York'
 'NYC-Queens Community District 13--Queens Village, New York'
 'NYC-Queens Community District 8--Briarwood, New York'
 'NYC-Queens Community District 4--Elmhurst & South Corona PUMA, New York'
 'NYC-Queens Community District 6--Forest Hills & Rego Park PUMA, New York'
 'NYC-Queens Community District 2--Sunnyside & Woodside PUMA, New York'
 'NYC-Queens Community District 5--Ridgewood, New York'
 'NYC-Queens Community District 9--Richmond Hill & Woodhaven PUMA, New York'
 'NYC-Queens Community District 12--Jamaica, New York'
 'NYC-Queens Community District 10--Howard Beach & Ozone Park PUMA, New York'
 'NYC-Queens Community District 14--Far Rockaway, New York']
55

In [59]:
# Chose the following columns to represent high connections - 'Households: Cable Modem', 
#'Households: With Mobile Broadband', 'Households: Fiber-Optic'
# Chose the following columns to represent low connections - 'Households: Dial-Up Alone', 'Households: Dsl'

lowconnections = Infrastruct.iloc[:, [6, 9]]
highconnections = Infrastruct.iloc[:, [5, 7, 12]]

Infrastruct['low'] = lowconnections.sum(axis = 1)
Infrastruct['high'] = highconnections.sum(axis = 1)

Infrastructinfo = Infrastruct[['Qualifying Name', 'low', 'high']]
Infrastructinfo.head()

                                     Qualifying Name    low  high
0  NYC-Bronx Community District 8--Riverdale, New...  21991  2329
1  NYC-Bronx Community District 12--Wakefield, Ne...  19502  6799
2  NYC-Bronx Community District 10--Co-op City, N...  21907  4046
3  NYC-Bronx Community District 11--Pelham Parkwa...  19395  6050
4  NYC-Bronx Community District 3 & 6--Belmont, N...  17144  2249

In [64]:
# Clean/format demographic information table as per Matt Sloane's code

demographcallers['Borough'] = 'NaN'
demographcallers['CD_No'] = 'NaN'

for x in range(0, len(demographcallers)):
        if demographcallers['cd_id'][x][:2] == 'BX':
            demographcallers['Borough'][x] = 'BRONX'
            demographcallers['CD_No'][x] = demographcallers['cd_id'][x][-2:]
        elif demographcallers['cd_id'][x][:2] == 'BK':
            demographcallers['Borough'][x] = 'BROOKLYN'
            demographcallers['CD_No'][x] = demographcallers['cd_id'][x][-2:]
        elif demographcallers['cd_id'][x][:2] == 'MN':
            demographcallers['Borough'][x] = 'MANHATTAN'
            demographcallers['CD_No'][x] = demographcallers['cd_id'][x][-2:]
        elif demographcallers['cd_id'][x][:2] == 'QN':
            demographcallers['Borough'][x] = 'QUEENS'
            demographcallers['CD_No'][x] = demographcallers['cd_id'][x][-2:]
        elif demographcallers['cd_id'][x][:2] == 'SI':
            demographcallers['Borough'][x] = 'STATEN ISLAND'
            demographcallers['CD_No'][x] = demographcallers['cd_id'][x][-2:]

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [66]:
# Concatenate new columns into new, merge compatible 
demographcallers['Community Board'] = 'NaN'
demographcallers['Community Board'] = demographcallers['CD_No'] + ' ' + demographcallers['Borough']
demographcallers.head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,cd_id,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,Borough,CD_No,Community Board
0,BX08,46.80,39.24,BRONX,08,08 BRONX
1,BX12,73.09,18.19,BRONX,12,12 BRONX
2,BX10,61.79,26.43,BRONX,10,10 BRONX
3,BX11,43.22,36.45,BRONX,11,11 BRONX
4,BX03,36.82,54.24,BRONX,03,03 BRONX

In [67]:
demographnew = demographcallers.drop(['Borough', 'CD_No','cd_id'], axis = 1)
demographnew.head()

,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,Community Board
0,46.80,39.24,08 BRONX
1,73.09,18.19,12 BRONX
2,61.79,26.43,10 BRONX
3,43.22,36.45,11 BRONX
4,36.82,54.24,03 BRONX

In [68]:
#Editing the entries where 2 community districts are combined into one, this will provide an entry for each making
#59 separate community districts 

Infrastructinfo['Qualifying Name'][4] = 'NYC-Bronx Community District 3--Belmont, New York'
Infrastructinfo['Qualifying Name'][5] = 'NYC-Bronx Community District 6--Belmont, New York'
Infrastructinfo['Qualifying Name'][10] = 'NYC-Bronx Community District 1--Hunts Point, New York'
Infrastructinfo['Qualifying Name'][11] = 'NYC-Bronx Community District 2--Hunts Point, New York'
Infrastructinfo['Qualifying Name'][18] = 'NYC-Manhattan Community District 4--Chelsea, New York'
Infrastructinfo['Qualifying Name'][19] = 'NYC-Manhattan Community District 5--Chelsea, New York'
Infrastructinfo['Qualifying Name'][22] = 'NYC-Manhattan Community District 1--Battery Park City, New York'
Infrastructinfo['Qualifying Name'][23] = 'NYC-Manhattan Community District 2--Battery Park City, New York'

# View / Verify Edits
print (len(Infrastructinfo['Qualifying Name'].unique()))

59

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [69]:
#Clean data and prepare for merge as per Matt Sloane's code
Infrastructinfo['Borough'] = 'NaN'
Infrastructinfo['CD_Temp'] = 'NaN'
Infrastructinfo['CD_No'] = 'Nan'
Infrastructinfo['Community Board'] = 'NaN'

for x in range(0,len(Infrastructinfo)):
    Infrastructinfo['CD_Temp'][x] = re.findall(r'\d+', Infrastructinfo['Qualifying Name'][x])  gn
    Infrastructinfo['CD_No'][x] = Infrastructinfo['CD_Temp'][x][0] 
    if Infrastructinfo['Qualifying Name'][x][8] == 'x':
        Infrastructinfo['Borough'][x] = 'BRONX'
    elif Infrastructinfo['Qualifying Name'][x][4] == 'M':
        Infrastructinfo['Borough'][x] = 'MANHATTAN'
    elif Infrastructinfo['Qualifying Name'][x][10] == 'y':
        Infrastructinfo['Borough'][x] = 'BROOKLYN'
    elif Infrastructinfo['Qualifying Name'][x][4] == 'Q':
        Infrastructinfo['Borough'][x] = 'QUEENS'
    elif Infrastructinfo['Qualifying Name'][x][4] == 'S':
        Infrastructinfo['Borough'][x] = 'STATEN ISLAND'

Infrastructinfo['Community Board'] = Infrastructinfo['CD_No'] + ' ' + Infrastructinfo['Borough']
Infrastructinfo

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Qualifying Name,low,high,Borough,CD_Temp,CD_No,Community Board
0,"NYC-Bronx Community District 8--Riverdale, New...",21991,2329,BRONX,[8],8,8 BRONX
1,"NYC-Bronx Community District 12--Wakefield, Ne...",19502,6799,BRONX,[12],12,12 BRONX
2,"NYC-Bronx Community District 10--Co-op City, N...",21907,4046,BRONX,[10],10,10 BRONX
3,NYC-Bronx Community District 11--Pelham Parkwa...,19395,6050,BRONX,[11],11,11 BRONX
4,"NYC-Bronx Community District 3--Belmont, New York",17144,2249,BRONX,[3],3,3 BRONX
5,"NYC-Bronx Community District 6--Belmont, New York",17144,2249,BRONX,[6],6,6 BRONX
6,"NYC-Bronx Community District 7--Bedford Park, ...",19878,3250,BRONX,[7],7,7 BRONX
7,NYC-Bronx Community District 5--Morris Heights...,12289,548,BRONX,[5],5,5 BRONX
8,"NYC-Bronx Community District 4--Concourse, New...",14911,1531,BRONX,[4],4,4 BRONX
9,"NYC-Bronx Community District 9--Castle Hill, N...",25535,6983,BRONX,[9],9,9 BRONX
10,"NYC-Bronx Community District 1--Hunts Point, N...",18263,2454,BRONX,[1],1,1 BRONX
11,"NYC-Bronx Community District 2--Hunts Point, N...",18263,2454,BRONX,[2],2,2 BRONX
12,NYC-Manhattan Community District 12--Washingto...,44908,2930,MANHATTAN,[12],12,12 MANHATTAN
13,NYC-Manhattan Community District 9--Hamilton H...,22611,4526,MANHATTAN,[9],9,9 MANHATTAN
14,NYC-Manhattan Community District 10--Central H...,26786,3285,MANHATTAN,[10],10,10 MANHATTAN
15,NYC-Manhattan Community District 11--East Harl...,22420,4143,MANHATTAN,[11],11,11 MANHATTAN
16,NYC-Manhattan Community District 8--Upper East...,77064,18648,MANHATTAN,[8],8,8 MANHATTAN
17,NYC-Manhattan Community District 7--Upper West...,61731,12034,MANHATTAN,[7],7,7 MANHATTAN
18,"NYC-Manhattan Community District 4--Chelsea, N...",48248,15274,MANHATTAN,[4],4,4 MANHATTAN
19,"NYC-Manhattan Community District 5--Chelsea, N...",48248,15274,MANHATTAN,[5],5,5 MANHATTAN
20,NYC-Manhattan Community District 6--Murray Hil...,49031,16101,MANHATTAN,[6],6,6 MANHATTAN
21,NYC-Manhattan Community District 3--Chinatown ...,33663,8221,MANHATTAN,[3],3,3 MANHATTAN
22,NYC-Manhattan Community District 1--Battery Pa...,52682,16193,MANHATTAN,[1],1,1 MANHATTAN
23,NYC-Manhattan Community District 2--Battery Pa...,52682,16193,MANHATTAN,[2],2,2 MANHATTAN
24,NYC-Staten Island Community District 3--Totten...,15973,26263,STATEN ISLAND,[3],3,3 STATEN ISLAND
25,NYC-Staten Island Community District 2--New Sp...,13424,15750,STATEN ISLAND,[2],2,2 STATEN ISLAND
26,NYC-Staten Island Community District 1--Port R...,19958,21728,STATEN ISLAND,[1],1,1 STATEN ISLAND
27,NYC-Brooklyn Community District 1--Greenpoint ...,35068,8059,BROOKLYN,[1],1,1 BROOKLYN
28,NYC-Brooklyn Community District 4--Bushwick PU...,24966,1381,BROOKLYN,[4],4,4 BROOKLYN
29,NYC-Brooklyn Community District 3--Bedford-Stu...,25073,1926,BROOKLYN,[3],3,3 BROOKLYN
30,NYC-Brooklyn Community District 2--Brooklyn He...,34726,7830,BROOKLYN,[2],2,2 BROOKLYN
31,"NYC-Brooklyn Community District 6--Park Slope,...",36012,6323,BROOKLYN,[6],6,6 BROOKLYN
32,NYC-Brooklyn Community District 8--Crown Heigh...,29147,2538,BROOKLYN,[8],8,8 BROOKLYN
33,NYC-Brooklyn Community District 16--Brownsvill...,20922,1292,BROOKLYN,[16],16,16 BROOKLYN
34,NYC-Brooklyn Community District 5--East New Yo...,29908,3077,BROOKLYN,[5],5,5 BROOKLYN
35,NYC-Brooklyn Community District 18--Canarsie &...,29067,14172,BROOKLYN,[18],18,18 BROOKLYN
36,NYC-Brooklyn Community District 17--East Flatb...,25211,5839,BROOKLYN,[17],17,17 BROOKLYN
37,NYC-Brooklyn Community District 9--Crown Heigh...,23088,1832,BROOKLYN,[9],9,9 BROOKLYN
38,NYC-Brooklyn Community District 7--Sunset Park...,29533,2687,BROOKLYN,[7],7,7 BROOKLYN
39,NYC-Brooklyn Community District 10--Bay Ridge ...,22815,6703,BROOKLYN,[10],10,10 BROOKLYN
40,NYC-Brooklyn Community District 12--Borough Pa...,20645,2920,BROOKLYN,[12],12,12 BROOKLYN
41,NYC-Brooklyn Community District 14--Flatbush &...,36000,3404,BROOKLYN,[14],14,14 BROOKLYN
42,NYC-Brooklyn Community District 15--Sheepshead...,25100,7323,BROOKLYN,[15],15,15 BROOKLYN
43,NYC-Brooklyn Community District 11--Bensonhurs...,28576,6179,BROOKLYN,[11],11,11 BROOKLYN
44,NYC-Brooklyn Community District 13--Brighton B...,19789,3619,BROOKLYN,[13],13,13 BROOKLYN
45,NYC-Queens Community District 1--Astoria & Lon...,52151,5380,QUEENS,[1],1,1 QUEENS
46,NYC-Queens Community District 3--Jackson Heigh...,30713,5546,QUEENS,[3],3,3 QUEENS
47,"NYC-Queens Community District 7--Flushing, New...",45286,17846,QUEENS,[7],7,7 QUEENS
48,"NYC-Queens Community District 11--Bayside, New...",17715,14990,QUEENS,[11],11,11 QUEENS
49,NYC-Queens Community District 13--Queens Villa...,20697,20438,QUEENS,[13],13,13 QUEENS
50,"NYC-Queens Community District 8--Briarwood, Ne...",29699,10341,QUEENS,[8],8,8 QUEENS
51,NYC-Queens Community District 4--Elmhurst & So...,25896,3700,QUEENS,[4],4,4 QUEENS
52,NYC-Queens Community District 6--Forest Hills ...,33854,4419,QUEENS,[6],6,6 QUEENS
53,NYC-Queens Community District 2--Sunnyside & W...,35068,6484,QUEENS,[2],2,2 QUEENS
54,"NYC-Queens Community District 5--Ridgewood, Ne...",32447,12472,QUEENS,[5],5,5 QUEENS
55,NYC-Queens Community District 9--Richmond Hill...,23726,7786,QUEENS,[9],9,9 QUEENS
56,"NYC-Queens Community District 12--Jamaica, New...",21691,19432,QUEENS,[12],12,12 QUEENS
57,NYC-Queens Community District 10--Howard Beach...,14643,9675,QUEENS,[10],10,10 QUEENS
58,NYC-Queens Community District 14--Far Rockaway...,12227,11929,QUEENS,[14],14,14 QUEENS

In [71]:
#merge the demographic and internet(infrastructure data)
mergeset1 = pd.merge(demographcallers, Infrastructinfo, on = ['Community Board'])
mergeset1.head()

,cd_id,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,Borough_x,CD_No_x,Community Board,Qualifying Name,low,high,Borough_y,CD_Temp,CD_No_y
0,BX12,73.09,18.19,BRONX,12,12 BRONX,"NYC-Bronx Community District 12--Wakefield, Ne...",19502,6799,BRONX,[12],12
1,BX10,61.79,26.43,BRONX,10,10 BRONX,"NYC-Bronx Community District 10--Co-op City, N...",21907,4046,BRONX,[10],10
2,BX11,43.22,36.45,BRONX,11,11 BRONX,NYC-Bronx Community District 11--Pelham Parkwa...,19395,6050,BRONX,[11],11
3,MN12,68.39,18.39,MANHATTAN,12,12 MANHATTAN,NYC-Manhattan Community District 12--Washingto...,44908,2930,MANHATTAN,[12],12
4,MN10,74.19,6.94,MANHATTAN,10,10 MANHATTAN,NYC-Manhattan Community District 10--Central H...,26786,3285,MANHATTAN,[10],10

In [82]:
#merge first two merged datasets to the 311 call set
mergesetfinal = pd.merge(mergeset1, final_311, on = ['Community Board'])
mergesetfinal.columns

Index([u'cd_id', u'% Population 5 Years And Over: Speak Only English',
       u'% Population 5 Years And Over: Spanish or Spanish Creole',
       u'Borough_x', u'CD_No_x', u'Community Board', u'Qualifying Name',
       u'low', u'high', u'Borough_y', u'CD_Temp', u'CD_No_y',
       u'Complaint Type', u'Complaint Rank'],
      dtype='object')

In [83]:
#drop columns not needed
mergesetfinal.drop(['Borough_x', 'CD_No_x', 'Community Board', 'Qualifying Name', 'Borough_y',
                'CD_Temp', 'CD_No_y'], axis=1, inplace=True)

In [88]:
mergesetfinal.head()

,cd_id,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,low,high,Complaint Type,Complaint Rank
0,BX12,73.09,18.19,19502,6799,168455,14.0
1,BX10,61.79,26.43,21907,4046,95496,50.0
2,BX11,43.22,36.45,19395,6050,122079,37.0
3,MN12,68.39,18.39,44908,2930,268053,1.0
4,MN10,74.19,6.94,26786,3285,137344,29.0